In [17]:
import pandas as pd
import json

In [20]:
evictions = pd.read_excel('Evictions(1).xlsx', 1)

with open('Modified Zip Code Tabulation Areas (MODZCTA).geojson') as f:
  topojson = json.load(f)

In [13]:
geometries = topojson['features']

In [21]:
evictions

,ZCTA,2017/01,2017/02,2017/03,2017/04,2017/05,2017/06,2017/07,2017/08,2017/09,...,2021/09,2021/10,2021/11,2021/12,2022/01,2022/02,2022/03,2022/04,2022/05,2022/06
0,10001,7.0,6.0,2.0,5.0,6.0,1.0,1.0,7.0,2.0,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN
1,10002,13.0,9.0,4.0,3.0,8.0,7.0,7.0,5.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN
2,10003,8.0,4.0,5.0,3.0,1.0,4.0,4.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,1.0
3,10004,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,3.0,1.0,1.0,1.0,NaN,2.0,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,11619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,11691,17.0,17.0,28.0,17.0,30.0,26.0,22.0,30.0,36.0,...,NaN,NaN,NaN,NaN,3.0,1.0,2.0,1.0,4.0,2.0
200,11692,4.0,6.0,14.0,6.0,11.0,8.0,18.0,9.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0
201,11693,1.0,6.0,2.0,3.0,4.0,8.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
202,11694,7.0,1.0,4.0,7.0,2.0,5.0,6.0,6.0,3.0,...,3.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0

In [26]:
evictions.loc[evictions['ZCTA']==11217]['2017/01'].values[0]

2.0

In [65]:
for g in geometries:
    p_num = int(g['properties']['modzcta'])
    g['properties']['arrest'] = {
        '201701':int(evictions.loc[evictions['ZCTA']==z_num]['2017/01'].values[0]),
        '201702':int(evictions.loc[evictions['ZCTA']==z_num]['2017/02'].values[0]),
        '201703':int(evictions.loc[evictions['ZCTA']==z_num]['2017/03'].values[0]),
        '201704':int(evictions.loc[evictions['ZCTA']==z_num]['2017/04'].values[0]),
        '201705':int(evictions.loc[evictions['ZCTA']==z_num]['2017/05'].values[0]),
        '201706':int(evictions.loc[evictions['ZCTA']==z_num]['2017/06'].values[0]),
        '201707':int(evictions.loc[evictions['ZCTA']==z_num]['2017/07'].values[0]),
        '201708':int(evictions.loc[evictions['ZCTA']==z_num]['2017/08'].values[0]),
        '201709':int(evictions.loc[evictions['ZCTA']==z_num]['2017/09'].values[0]),
        '201710':int(evictions.loc[evictions['ZCTA']==z_num]['2017/10'].values[0]),
        '201711':int(evictions.loc[evictions['ZCTA']==z_num]['2017/11'].values[0]),
        '201712':int(evictions.loc[evictions['ZCTA']==z_num]['2017/12'].values[0]),
        '201801':int(evictions.loc[evictions['ZCTA']==z_num]['2018/01'].values[0]),
        '201802':int(evictions.loc[evictions['ZCTA']==z_num]['2018/02'].values[0]),
        '201803':int(evictions.loc[evictions['ZCTA']==z_num]['2018/03'].values[0]),
        '201804':int(evictions.loc[evictions['ZCTA']==z_num]['2018/04'].values[0]),
        '201805':int(evictions.loc[evictions['ZCTA']==z_num]['2018/05'].values[0]),
        '201806':int(evictions.loc[evictions['ZCTA']==z_num]['2018/06'].values[0]),
        '201807':int(evictions.loc[evictions['ZCTA']==z_num]['2018/07'].values[0]),
        '201808':int(evictions.loc[evictions['ZCTA']==z_num]['2018/08'].values[0]),
        '201809':int(evictions.loc[evictions['ZCTA']==z_num]['2018/09'].values[0]),
        '201810':int(evictions.loc[evictions['ZCTA']==z_num]['2018/10'].values[0]),
        '201811':int(evictions.loc[evictions['ZCTA']==z_num]['2018/11'].values[0]),
        '201812':int(evictions.loc[evictions['ZCTA']==z_num]['2018/12'].values[0]),
        '201901':int(evictions.loc[evictions['ZCTA']==z_num]['2019/01'].values[0]),
        '201902':int(evictions.loc[evictions['ZCTA']==z_num]['2019/02'].values[0]),
        '201903':int(evictions.loc[evictions['ZCTA']==z_num]['2019/03'].values[0]),
        '201904':int(evictions.loc[evictions['ZCTA']==z_num]['2019/04'].values[0]),
        '201905':int(evictions.loc[evictions['ZCTA']==z_num]['2019/05'].values[0]),
        '201906':int(evictions.loc[evictions['ZCTA']==z_num]['2019/06'].values[0]),
        '201907':int(evictions.loc[evictions['ZCTA']==z_num]['2019/07'].values[0]),
        '201908':int(evictions.loc[evictions['ZCTA']==z_num]['2019/08'].values[0]),
        '201909':int(evictions.loc[evictions['ZCTA']==z_num]['2019/09'].values[0]),
        '201910':int(evictions.loc[evictions['ZCTA']==z_num]['2019/10'].values[0]),
        '201911':int(evictions.loc[evictions['ZCTA']==z_num]['2019/11'].values[0]),
        '201912':int(evictions.loc[evictions['ZCTA']==z_num]['2019/12'].values[0]),
        '202001':int(evictions.loc[evictions['ZCTA']==z_num]['2020/01'].values[0]),
        '202002':int(evictions.loc[evictions['ZCTA']==z_num]['2020/02'].values[0]),
        '202003':int(evictions.loc[evictions['ZCTA']==z_num]['2020/03'].values[0]),
        '202004':int(evictions.loc[evictions['ZCTA']==z_num]['2020/04'].values[0]),
        '202005':int(evictions.loc[evictions['ZCTA']==z_num]['2020/05'].values[0]),
        '202006':int(evictions.loc[evictions['ZCTA']==z_num]['2020/06'].values[0]),
        '202007':int(evictions.loc[evictions['ZCTA']==z_num]['2020/07'].values[0]),
        '202008':int(evictions.loc[evictions['ZCTA']==z_num]['2020/08'].values[0]),
        '202009':int(evictions.loc[evictions['ZCTA']==z_num]['2020/09'].values[0]),
        '202010':int(evictions.loc[evictions['ZCTA']==z_num]['2020/10'].values[0]),
        '202011':int(evictions.loc[evictions['ZCTA']==z_num]['2020/11'].values[0]),
        '202012':int(evictions.loc[evictions['ZCTA']==z_num]['2020/12'].values[0]),
        '202101':int(evictions.loc[evictions['ZCTA']==z_num]['2021/01'].values[0]),
        '202102':int(evictions.loc[evictions['ZCTA']==z_num]['2021/02'].values[0]),
        '202103':int(evictions.loc[evictions['ZCTA']==z_num]['2021/03'].values[0]),
        '202104':int(evictions.loc[evictions['ZCTA']==z_num]['2021/04'].values[0]),
        '202105':int(evictions.loc[evictions['ZCTA']==z_num]['2021/05'].values[0]),
        '202106':int(evictions.loc[evictions['ZCTA']==z_num]['2021/06'].values[0]),
        '202107':int(evictions.loc[evictions['ZCTA']==z_num]['2021/07'].values[0]),
        '202108':int(evictions.loc[evictions['ZCTA']==z_num]['2021/08'].values[0]),
        '202109':int(evictions.loc[evictions['ZCTA']==z_num]['2021/09'].values[0]),
        '202110':int(evictions.loc[evictions['ZCTA']==z_num]['2021/10'].values[0]),
        '202111':int(evictions.loc[evictions['ZCTA']==z_num]['2021/11'].values[0]),
        '202112':int(evictions.loc[evictions['ZCTA']==z_num]['2021/12'].values[0]),
        '202201':int(evictions.loc[evictions['ZCTA']==z_num]['2022/01'].values[0]),
        '202202':int(evictions.loc[evictions['ZCTA']==z_num]['2022/02'].values[0]),
        '202203':int(evictions.loc[evictions['ZCTA']==z_num]['2022/03'].values[0]),
        '202204':int(evictions.loc[evictions['ZCTA']==z_num]['2022/04'].values[0]),
        '202205':int(evictions.loc[evictions['ZCTA']==z_num]['2022/05'].values[0]),
        '202206':int(evictions.loc[evictions['ZCTA']==z_num]['2022/06'].values[0])
    }

In [66]:
topojson['features'] = geometries

In [67]:
with open('zcta-refined.json', 'w') as outfile:
    json.dump(topojson, outfile)